body{
  margin:0;
  padding:0;
  background-color: rgba(38, 37, 37, 0.766) ;
  font-family: 'Indie Flower', cursive;  
}
.mainsection{
  height:650px;
  overflow: hidden;
  position: relative;
}
nav{
  display: grid ;
  grid-template-columns: 15% 35%;
  justify-content: space-between ;
  align-items: center ;
  height:80px;
}
.icondiv{
  display: flex ;
  justify-content: space-evenly ;
  align-items: center ;
  padding-left:20px;
}
h3{
  font-size:25px; 
  color:#dedbdbd4;
  text-transform: capitalize;
}
.navicon{
  width:60px;
  height:60px;
}
.navitems{
  display: flex;
  justify-content: space-evenly ;
}
.navitems a{
  color:#dedbdbd4;
  text-decoration: none ;
  font-size:23px;
  width:200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: bold ;
}
.navitems a:hover{
  background-color: black ;
  color:#dedbdbd4;
}
.folder{
  display: grid ;
  grid-template-columns:30% 25%;
  height:550px;
  justify-content: space-evenly;
  align-items: center ;
  position: relative ;
}
.guider{
  width: 150px;
  height:30px;
  position: absolute;
  left:50px;
  top:150px;
  color:white;
  font-size:20px;
  display: flex;
  justify-content: center ;
  align-items: center ;
}
.emailarea{
  height:560px;
  width:400px;  
  display: grid ;
  grid-template-columns: repeat( 3 , 33.3% ) ;
  grid-template-rows:40px 40px auto 40px;
  font-size:35px;
  position: absolute ;
  left:250px;
  display: none;
  background-color: white;
}
.toinput{
  grid-column:1/4;
}
.subjinput{
  grid-column:1/4;
}
.emailpage{
  grid-column:1/4;
}
.sendbtn{
  grid-column: 1/4;
  display: flex ;
  justify-content: end ;
}
input , textarea{
  padding:10px;
  border:0;
  font-family: 'Indie Flower', cursive;
}
textarea{
  line-height: 19px;
  text-align: start ;
}
.sendbtn button{
  height:35px;
  width:100px;
  background-color: white ;
  border:1px solid black;
  border-radius:5px;
  cursor: pointer;
}

.heading{
  color:#dedbdbd4;
  font-size:29px;
}
.subheading{
  color:#dedbdbd4;
  font-size:22px;
  text-overflow:initial;
}
.number , .name{
  color:white;
  font-weight: bold ;
  letter-spacing: 2px;
}
.contactdetails a{
  color:white;
  text-decoration: none ;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
i{
  padding:10px;
}
.emailarea{
  animation: openfolder .5s alternate;
}

@keyframes openfolder{
  from{
    transform:translateY(-40px);
     opacity:0;
    }
    to{
     opacity:1;
    transform:translateY(0px);
  }
}

.bgimg{
  width:300px;
  rotate: -25deg;
  height:500px;
  position:absolute;
  bottom:-120px;
  right:10px;
}
