body {
  background: linear-gradient(-90deg, #C4CECE, #A4A9B2);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

section {
  font-family: "Inter", sans-serif;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  background-color: #EBEBEE;
  overflow: hidden;
  margin-top: 70px;
  box-shadow: -25px 25px 40px 0px #7B7C8B,
    15px -25px 50px 10px #eeeeeeb7;
}

.form-elements {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: repeat(4, 35px) auto 80px;
  justify-content: center;
  grid-gap: 23px;
  font-size: 23px;
}

h2 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-radius: 0 0 40% 40%;
  background-color: #FEFFFE;
  margin: 0px 0 0 -5px;

}

h5 {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0;
  height: 40px;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.name {
  grid-column: 1/3;
  grid-row: 2/3;
}

.email {
  grid-column: 1/3;
  grid-row: 3/4;
}

.subject {
  grid-column: 1/3;
  grid-row: 4/5;
}

.message {
  grid-column: 1/3;
  grid-row: 5/7;
  padding: 10px;
  font-family: "Inter", sans-serif;
  height: 100px;
  width: 90%;
}

.all-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1/3;
  grid-row: 7/8;
}

.light-button {
  cursor: pointer;
  background-color: #FEFFFE;
}

.dark-button {
  cursor: pointer;
  background-color: #2E2D43;
  color: #FEFFFE;
}

/* this are the common formattings which is applied on most of the tags */
.c-shadow {
  box-shadow: -5px 5px 15px rgba(78, 78, 78, 0.479);
}

.c-formatting {
  padding-left: 20px;
  border: 0;
  border-radius: 10px;
}

.c-button-format {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: 0;
}